<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gl.mapper.FootprintMapper">

    <resultMap id="footprintMap" type="org.gl.entity.Footprint">
        <result property="footprintId" column="footprint_id"/>
        <result property="deleted" column="deleted"/>
        <result property="goodsId" column="goods_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="version" column="version"/>
        <result property="userId" column="user_id"/>
        <association property="goods" javaType="org.gl.entity.Goods">
            <result property="goodsId" column="goods_id"/>
            <result property="gmtCreate" column="gmt_create"/>
            <result property="version" column="version"/>
            <result property="gmtModified" column="gmt_modified"/>
            <result property="goodsFirstClass" column="goods_first_class"/>
            <result property="goodsImage" column="goods_image"/>
            <result property="goodsInventory" column="goods_inventory"/>
            <result property="goodsTwoClass" column="goods_two_class"/>
            <result property="goodsPrice" column="goods_price"/>
            <result property="goodsName" column="goods_name"/>
        </association>
    </resultMap>

    <select id="selectUserFootprint" resultMap="footprintMap">
        SELECT * FROM goods JOIN footprint
        ON footprint.goods_id =goods.goods_id
        WHERE user_id=#{userId} and footprint.deleted=0
    </select>
</mapper>
