<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gl.mapper.OrderMapper">

    <resultMap id="orderMap" type="org.gl.entity.UserOrder">
        <id property="orderId" column="order_id"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="orderNumber" column="order_number"/>
        <result property="serialNumber" column="serial_number"/>
        <result property="version" column="version"/>
        <result property="userId" column="user_id"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="orderAmount" column="order_amount"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="orderStatus" column="order_status"/>
        <result property="shoppingAddressId" column="shopping_address_id"/>

        <collection property="orderGoodsList" ofType="orderGoods">
            <id property="orderGoodsId" column="order_goods_id"/>
            <result property="goodsId" column="goods_id"/>
            <result property="num" column="num"/>
            <result property="orderId" column="order_id"/>
            <collection property="goods" ofType="goods">
                <id property="goodsId" column="goods_id"/>
                <result property="gmtCreate" column="gmt_create"/>
                <result property="version" column="version"/>
                <result property="gmtModified" column="gmt_modified"/>
                <result property="goodsFirstClass" column="goods_first_class"/>
                <result property="goodsImage" column="goods_image"/>
                <result property="goodsInventory" column="goods_inventory"/>
                <result property="goodsTwoClass" column="goods_two_class"/>
                <result property="goodsPrice" column="goods_price"/>
                <result property="goodsName" column="goods_name"/>
            </collection>
        </collection>

    </resultMap>

    <select id="selectAllByUserIdAfter" resultMap="orderMap">
        SELECT * FROM user_order JOIN order_goods
            ON  order_goods.order_id=user_order.order_id
            LEFT JOIN goods ON order_goods.goods_id=goods.goods_id
        WHERE user_order.user_id=#{userId}
        <if test="orderState!=null and orderState!=''">
            and order_status=#{orderState}
        </if>
        ORDER BY user_order.gmt_create DESC
    </select>

    <select id="selectByOrderId" resultMap="orderMap">
        SELECT * FROM user_order JOIN order_goods
            ON  order_goods.order_id=user_order.order_id
                         LEFT JOIN goods ON order_goods.goods_id=goods.goods_id
        WHERE user_order.order_id=#{orderId}
    </select>
</mapper>
